.App__body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App__title {
  text-align: center;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 50px;
}
