.App__body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../images/pikachu-zzz-1920x1200-300x200.jpg);
  //flex-wrap: wrap;
}
.App__title {
  text-align: center;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.poke__container {
  margin: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.poke__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5rem;
  margin-bottom: 0.5rem;
  //max-width: 7.5rem;
  border-radius: 0.5rem;
  //background-color: gray;
  border: 0.1875rem solid black;
}
.poke__title {
  margin: 0;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  border-bottom: red;
}
.poke__types {
  list-style: none;
  text-transform: uppercase;
}
.poke__type {
  border-radius: 0.5rem;
}
